<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PlanterProductsDataConnection" connectionString="server=localhost;user id=root;persist security info=True;database=planterproducts" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>